@reference "tailwindcss";

.nav_element {
    @apply transition-colors
        p-2 rounded-2xl
        duration-200 text-sm
        relative before:absolute
        before:inset-0 before:-z-10 overflow-hidden
        before:scale-x-[0.5] hover:before:scale-[1.5]
        before:rounded-[100%] before:transition-transform
        before:translate-y-full hover:before:translate-y-0
        before:duration-600;
}
