@reference "tailwindcss";

.notification {
    @apply fixed bottom-4 left-2 
        z-50 rounded-xl px-4 
        py-3 flex flex-col
        gap-3 max-h-200 h-fit 
        w-fit overflow-y-scroll
        pointer-events-none;
    animation: fadeIn 0.5s ease;
    width: min(50rem, calc(100vw - 1rem));
    max-width: calc(100vw - 1rem);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-12px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
